<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="dictionarybuilding.model.Document" />
        <mapping class="dictionarybuilding.model.Sentence" />
        <mapping class="dictionarybuilding.model.VerbUse" />
    </session-factory>
</hibernate-configuration>